.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
code/groundhog*
data/ud-treebanks-v2.13*
code/UD_complexity.Rproj
code/output/sum_dfs/*_sum_df.tsv
*.Rproj
/code/output/processed_data
/code/output
/data/ud-treebanks-v2.14
/data/ud-documentation-v2.14
/code/output_unfiltered
