.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
code/groundhog*
data/ud-treebanks-v2.13*
code/UD_complexity.Rproj
code/output/sum_dfs/*_sum_df.tsv
*.Rproj
/code/output/processed_data
/code/output
/code/output_test
#/data/ud-treebanks-v2.14 # Keep the directory; the .gitignore file in it will prevent syncing contents
/data/ud-documentation-v2.14
/code/output_unfiltered
notes 20240301.txt
/code/output_old

# Python
*.venv*

# VSCode
*.code-workspace

# Sandbox
sandbox/